In [10]:
from dash import Dash, html, dcc, Input, Output, callback
import pandas as pd
import plotly.express as px
import dash_bootstrap_components as dbc

#Import data
df = pd.read_csv('https://media.githubusercontent.com/media/adrian-florin/datasets/main/terrorism_data.csv', encoding="ISO-8859-1", low_memory=False)
df['count'] = 1
years_attack = df['iyear'].unique()

years_options = {1970: '1970', 1972: '1972', 1975: '1975', 1980: '1980', 1985: '1985', 1990: '1990', 1995: '1995', 2000: '2000', 2005: '2005', 2010: '2010', 2014: '2014', 2017: '2017'}

regions = df['region_txt'].unique()

#Mapbox Token
px.set_mapbox_access_token(open(".mapbox_token").read())

#Var Assignment
value_one = 'nkill'
value_two = 'count'
grp = ['gname', 'attacktype1_txt', 'targtype1_txt', 'weaptype1_txt']
region = 'Middle East & North Africa'

#Data Transformation
df_region = df.loc[df['region_txt'] == region].reset_index(drop=True)

# Scatter Map Data
df_cam = df[df['region_txt'] == 'Central America & Caribbean'].reset_index(drop=True)
df_north_america = df[df['region_txt'] == 'North America'].reset_index(drop=True)
df_sea = df[df['region_txt'] == 'Southeast Asia'].reset_index(drop=True)
df_we = df[df['region_txt'] == 'Western Europe'].reset_index(drop=True)
df_ea = df[df['region_txt'] == 'East Asia'].reset_index(drop=True)
df_sam = df[df['region_txt'] == 'South America'].reset_index(drop=True)
df_ee= df[df['region_txt'] == 'Eastern Europe'].reset_index(drop=True)
df_ssa = df[df['region_txt'] == 'Sub-Saharan Africa'].reset_index(drop=True)
df_mena = df[df['region_txt'] == 'Middle East & North Africa'].reset_index(drop=True)
df_ao = df[df['region_txt'] == 'Australasia & Oceania'].reset_index(drop=True)
df_sa = df[df['region_txt'] == 'South Asia'].reset_index(drop=True)
df_ca = df[df['region_txt'] == 'Central Asia'].reset_index(drop=True)

df_cam_top10 = df_cam.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_north_america_top10 = df_north_america.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_sea_top10 = df_sea.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_we_top10 = df_we.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_ea_top10 = df_ea.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_sam_top10 = df_sam.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_ee_top10 = df_ee.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_ssa_top10 = df_ssa.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_mena_top10 = df_mena.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_ao_top10 = df_ao.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_sa_top10 = df_sa.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
df_ca_top10 = df_ca.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)

top_10_groups_per_region = pd.concat([df_cam_top10, df_north_america_top10, df_sea_top10, df_we_top10, df_ea_top10,
                                      df_sam_top10, df_ee_top10, df_ssa_top10, df_mena_top10, df_ao_top10, df_sa_top10, df_ca_top10])
dropped = ['attack_count', 'region_txt']
top_10_groups_per_region = top_10_groups_per_region.drop(dropped, axis=1).drop_duplicates().reset_index(drop=True)

top_10_groups_per_region_list = top_10_groups_per_region['gname'].tolist()
top_10_groups_all_regions = df[df['gname'].isin(top_10_groups_per_region_list)]

In [11]:
top_10_groups_all_regions

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,count
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181685,201712310020,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,"""4 people injured in Farayb explosion,"" Pajhwo...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,1
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN,1
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,1
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,1
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,1

In [12]:
from dash import Dash, html, dcc, Input, Output, callback
import pandas as pd
import plotly.express as px
import dash_bootstrap_components as dbc

# importing the data
df = pd.read_csv('https://media.githubusercontent.com/media/adrian-florin/datasets/main/terrorism_data.csv', encoding = "ISO-8859-1")
df['count'] = 1
years_attack = df['iyear'].unique()
years_options = {1970: '1970', 1972: '1972', 1975: '1975', 1980: '1980', 1985: '1985', 1990: '1990', 1995: '1995', 2000: '2000', 2005: '2005', 2010: '2010', 2014: '2014', 2017: '2017'}


# dropdown options
value_one = ['nkill', 'nwound']
value_two = ['count']
grp_option = ['gname', 'attacktype1_txt', 'targtype1_txt', 'weaptype1_txt']
region_option = df['region_txt'].unique()

# data transformation for visualizations
df_region = df.loc[df['region_txt'] == region_option[0]].reset_index(drop=True)

df_hor_bar = df_region.groupby(['country_txt'])[[value_one[0], value_two[0]]].sum().reset_index()
df_hor_bar = df_hor_bar.sort_values(by=value_one[0], ascending=True).tail(5)

df_pie = pd.DataFrame(df_region.groupby(grp_option[0])[value_one[0]].sum()).reset_index()
df_pie = df_pie.sort_values(by=value_one[0], ascending=True).head(9)

df_time = pd.DataFrame(df_region.groupby([grp_option[0], 'iyear'], as_index=False)[value_one[0]].sum())
df_time_sorted = df_time.sort_values(by=value_one[0], ascending=False)
top_five_kills = df_time_sorted[grp_option[0]].unique()[:5].tolist()
df_time = df_time.loc[(df_time[grp_option[0]] == top_five_kills[0]) | 
                      (df_time[grp_option[0]] == top_five_kills[1]) | 
                      (df_time[grp_option[0]] == top_five_kills[2]) | 
                      (df_time[grp_option[0]] == top_five_kills[3]) | 
                      (df_time[grp_option[0]] == top_five_kills[4])]

df_stacked = pd.DataFrame(df_region.groupby(['country_txt', grp_option[0]])[value_one[0]].sum())
df_stacked = df_stacked.sort_values(by=[value_one[0]])
df_stacked = df_stacked.reset_index()

top_group = df_pie[grp_option[0]].unique().tolist()
top_group.append('country_txt')
top_group

df_stacked_pivot = pd.pivot_table(data=df_stacked, 
                                  index='country_txt', 
                                  columns=grp_option[0], 
                                  values=value_one[0])
df_stacked_pivot['total'] = df_stacked_pivot.sum(axis=1)
df_stacked_pivot = df_stacked_pivot.sort_values(by=['total'], ascending=False).head(10)
df_stacked_pivot = df_stacked_pivot.reset_index()
df_stacked_pivot = df_stacked_pivot[top_group]

# scatter map data
scatter_dict_region = {}
for i in region_option:
    df_selected_region = df[df['region_txt'] == i].reset_index(drop=True)
    scatter_dict_region = {**scatter_dict_region, i : df_selected_region}

scatter_dict_top_group = {}
for i in scatter_dict_region:
    df_selected_group = scatter_dict_region.get(i)
    df_selected_group = df_selected_group.groupby(['region_txt', 'gname', ]).size().reset_index(name='attack_count').sort_values(by=['region_txt', 'attack_count'], ascending=[True, False]).head(5)
    name_df = i + " Top 10"
    scatter_dict_top_group = {**scatter_dict_top_group, name_df : df_selected_group}

top_10_groups_list = []
for i in scatter_dict_top_group:
    selected_df = scatter_dict_top_group.get(i)
    top_10_groups_list.append(selected_df)

top_10_groups_per_region = pd.concat(top_10_groups_list)
dropped = ['attack_count', 'region_txt']
top_10_groups_per_region = top_10_groups_per_region.drop(dropped, axis=1).drop_duplicates().reset_index(drop=True)

top_10_groups_per_region_list = top_10_groups_per_region['gname'].tolist()
top_10_groups_all_regions = df[df['gname'].isin(top_10_groups_per_region_list)]

c:\Users\adria\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
top_10_groups_all_regions

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,count
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,1
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181685,201712310020,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,"""4 people injured in Farayb explosion,"" Pajhwo...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,1
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN,1
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,1
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,1
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,1

In [17]:
top_10_groups_all_regions[grp_option[0]]

2                                            Unknown
3                                            Unknown
4                                            Unknown
7                                            Unknown
11                               Left-Wing Militants
                             ...
181685                                       Unknown
181686                                    Al-Shabaab
181688    Bangsamoro Islamic Freedom Movement (BIFM)
181689                                       Unknown
181690                                       Unknown
Name: gname, Length: 138715, dtype: object